html {
  --bg-color: #003333;
  padding: 0px;
}
.textarea-wrapper {
  margin: 0px;
  padding: 0px;
}
textarea {
  width: 95%;
  height: 97%;
  background-color: var(--bg-color);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2em;
  resize: none;
  display: block;
  margin: 0px;
  padding: 10px;
  border: none;
  overflow: scroll;
}
body {
  /* border-top: solid 3px var(--bg-color); */
  background-color: var(--bg-color);
  margin: 0px;
  padding: 0px;
  display: flex;
}
